h1 h2 h3 h4 h5 h6{
  font-family: $electronize;
  line-height:1;
}
.link{
  font-family: $electronize;
  font-size: rem(36);
}

h1{
  font-size:rem(64);
}
h2{
  font-size:rem(48);
  text-transform: uppercase;
}
h3{
   font-size:rem(24);
 }
h4{
  font-size:rem(24);
}
h5{
  font-size:rem(20);
}
h6{
  font-size:rem(16);
}

@media screen and (min-width: $vw-large){
  h1{
    font-size:rem(144);
  }
  h2{
    font-size:rem(96);
    text-transform: uppercase;
  }
  h3{
     font-size:rem(48);
   }
  h4{
    font-size:rem(54);
  }
  h5{
    font-size:rem(36);
  }
  h6{
    font-size:rem(16);
  }
}