//couleur de base
$white:#fff;
$whiteGrey: #e2e2e2;
$light-grey: #474747;
$grey: #3D3D3D;
$grey2: #656565;
$grey3: #707070;
$black: #000;
$orange: #ff9651;
$dark: #1B1A1A;
$semi-dark: #272727;
// couleur projet
$color-bg-primary: $light-grey;
$color-bg-secondary: #45d4f1;

$color-text: $whiteGrey;
$color-link: $color-text;