// texte
$font-size-text:rem(18);
$font-line-height:1.5;


//font family
$electronize: 'Electrolize', sans-serif;
$mitr: 'Mitr', sans-serif;
$ff: arial, sans-serif;
$open-sans:"open Sans", sans-serif;

// font weight
$fw-light:300;
$fw-regular:400;
$fw-semibold:500;
$fw-bold:700;